nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.small-logo {
    font-size: 2rem;
}

.small-logo img {
    width: 24px;
    position: absolute;
    top: 35px;
    left: 35px;
    transition: 0.5s;
}

.small-logo img:hover {
transform: rotate(360deg);
}

.navComponents {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.navComponents  img {
border-radius: 50%;
width: 30px;
}

.themeToggle {
    cursor: pointer;
}

.darkBody {
    background-color: #181818;
    color: white;
}

.themeToggle[name="sunny"] {
    color: yellow;
}