@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0;
  width: 100%;
  height: 100%;
}


.loadingScreen {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disappear {
  display: none;
}

.loadingScreen > h1 img {
width: 25px;
animation:  rotateForever 2s infinite;
}

@keyframes rotateForever {
  from {
   transform: rotate(360deg);
  }
}

.loadingScreen > h1 {
font-size: 3rem;
font-family: 'Playfair Display', sans-serif;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.small-logo {
  font-size: 2rem;
}

.small-logo img {
  width: 24px;
  position: absolute;
  top: 35px;
  left: 35px;
  transition: 0.5s;
}

.small-logo img:hover {
  transform: rotate(360deg);
}

.navComponents {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.navComponents img {
  border-radius: 50%;
  width: 30px;
}

.themeToggle {
  cursor: pointer;
}

.darkBody {
  background-color: #181818;
  color: white;
}

.themeToggle[name="sunny"] {
  color: yellow;
}

main {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.musicContainer {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 auto;
  margin: 0 auto;
  position: relative;
}

.blob {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  filter: blur(15px);
  z-index: -2;
}

.blob1 {
  left: 50px;
  top: 20px;
}

.blob2 {
  bottom: 100px;
  left: 50px;
}

.blob3 {
  right: 50px;
  bottom: 50%;
}
.coverImg {
  border-radius: 5px;
  width: 180px;
  height: 180px;
  background-image: url("https://cdn.pixabay.com/audio/2024/02/04/10-16-16-251_200x200.png");
  background-size: cover;
}

.audioController {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.songName {
  font-family: "Inter";
  font-size: 1.2rem;
}

.progressContainer {
  width: 100%;
  border-radius: 25px;
  height: 3px;
  background-color: white;
}

.progressBar {
  height: inherit;
  border-radius: inherit;
  background-color: black;
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scrubber {
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  right: 0;
  opacity: 0;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
}

.controls ion-icon {
  cursor: pointer;
}

.QueueContainer {
  right: 50px;
  width: 240px;
  height: 380px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-right: 0 auto;
  font-family: "Inter";
}

.QueueContainer > h2 {
  border-bottom: solid;
  padding: 2px;
}

.songQueList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  padding: 2px;
  height: 85%;
}

.songDesc {
  gap: 2px;
  margin: 0;
}

.songDesc > h4 {
  margin: 0;
}
.songDesc > p {
  margin: 0;
}

.queueItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  padding: 10px;
  border-radius: 5px;
}

.queueItem:hover {
  background-color: rgb(180, 180, 180);
}

.queueItem > img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.origin {
  position: absolute;
  bottom: -40px;
  right: 0;
  z-index: 2;
  font-family: 'Inter';
  font-size: 13px;
}


.origin a {
  color: #00AB6B;
  text-decoration: none;
}